.android-q {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;  
    
}

.android-q .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../pixel3-xl-screen.jpg);
    
}

.android-q .navigation-bar {
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: 0;
}

.android-q .navigation-bar .home-button {
    position: absolute;
    width: 22px;
    height: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    opacity: 0;
}

.android-q .navigation-bar .home-button::before{
    content: "";
    position: absolute;
    width: 22px;
    height: 8px;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.0;
    border-radius: 4px;
    transition: all .1s;
}

.android-q .navigation-bar .home-button.click::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    left: -18px;
    top: -10px;
    background-color: white;
    opacity: 0.3;
    border-radius: 15px;
    transition: all .2s;
}

.android-q .navigation-bar .home-button.dark{
    background-color: #666;
}

.android-q .lock-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000044;
}

.android-q .lock-screen .info{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    color: white;
}

.android-q .lock-screen .info .time{
    font-size: 50px;
}

.android-q .lock-screen .info .date{
    
}

.android-q .lock-screen .unlock{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);    
}

.android-q .lock-screen .unlock::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
    margin: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;   
}

.android-q .lock-screen .unlock::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25px;
    left: 25px;
    margin: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;   
}

.android-q .apps {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: #FFFFFFFF; 
    margin-top: 210%;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.android-q .apps .searchBar{
    width: 90%;
    height: 35px;
    margin:auto;
    margin-top: 24px;
    margin-bottom: 24px;
    -webkit-border-radius: 10vw;
    -moz-border-radius: 10vw;
    border-radius: 10vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}

.android-q .apps .searchBar .icon{
    position: relative;
    display: inline-block;
    float: left;
    padding-left: 10px;
    height: 35px;
    width: 35px;
}

.android-q .apps .searchBar .icon::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 20px;
    width: 10px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
    opacity: .7;
    transition: all .5s;
}

.android-q .apps .searchBar .icon::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    opacity: .7;
    transition: all .5s;
}

.android-q .apps .searchBar input{
    float: left;
    height: 35px;
    border: none;
    background-color: transparent;
}

.android-q .apps .container{
    height: 67%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
    padding-left: 10px;
}

.android-q .apps .container .app{
    display: inline-block;
    width: 30%;    
}

.android-q .apps .container .app:after {
  content: "";
  display: block;
  padding-bottom: 30%;
}

.android-q .apps .container .app .icon{    
    height: 70%;
    width: 70%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    border-radius: 70%; 
    overflow: hidden;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.android-q .apps .container .app .icon:first-child{
    
}

.android-q .apps .container .app .title{
    margin-top: 10px;
    color: #888;
    text-align: center;
}

::-webkit-scrollbar {
      width: 1px;
} 
