body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #e5dfca;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

.back-button {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 5vh;
    left: 5vw;
    z-index: 1;
    opacity: 0;
    -webkit-border-radius: 10vw;
    -moz-border-radius: 10vw;
    border-radius: 10vw;
    background: #fff;
    box-shadow: 0 0 4vw 0 #ccc;
    transition: all .2s;
}

.back-button.show {
    opacity: 1;
}

.back-button:hover {
    box-shadow: 0 0 5px 0 #333;
}

.back-button::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 7%;
    width: 35%;
    height: 2px;
    background: black;
    transform: rotate(0deg);
    opacity: .7;
    transition: all .5s;
}

.back-button::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: -10%;
    width: 24%;
    height: 24%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    opacity: .7;
    transition: all .5s;
}

@media (min-width: 320px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
