.pixel3-xl {
    position: fixed;
    height: 600px;
    width: 290px;
    top: 0;
    left: 0;
    transform-origin: top left;
    opacity: 0;
}

.pixel3-xl .border {
    height: 600px;
    width: 290px;
    margin: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border: 2px solid white;
    transform: translate(-1px, -1px);
    background: #010001;
}

.pixel3-xl .border::after {
    content: "";
    position: absolute;
    height: 35px;
    width: 2px;
    top: 110px;
    right: -4px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #5EE7B3;
}

.pixel3-xl .border::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 2px;
    top: 170px;
    right: -4px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.pixel3-xl .border .band {
    position: relative;
    height: 594px;
    width: 284px;
    margin: 0;
    border-radius: 28px;
    border: 3px solid #010001;
}

.pixel3-xl .border .band .glass {
    height: 584px;
    width: 274px;
    margin: 0;
    border-radius: 23px;
    border: 5px solid #010001;
}

.pixel3-xl .border .band .top-block {
    position: absolute;
    height: 31px;
    width: 90px;
    top: 4px;
    left: 97px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #010001;
}

.pixel3-xl .border .band .top-block::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: -5px;
    left: -15px;
    border-top-right-radius: 15px;
    border-top: 5px solid #010001;
    border-right: 5px solid #010001;
}

.pixel3-xl .border .band .top-block::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: -5px;
    right: -15px;
    border-top-left-radius: 15px;
    border-top: 5px solid #010001;
    border-left: 5px solid #010001;
}

.pixel3-xl .border .band .top-block .speaker {
    position: absolute;
    height: 5px;
    width: 30px;
    top: 18px;
    left: 30px;
    border-radius: 15px;
    background-color: #AAA;
}

.pixel3-xl .border .band .top-block .camera1 {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 8px;
    left: 8px;
    border-radius: 15px;
    background-color: #1E1E1E;
}

.pixel3-xl .border .band .top-block .camera2 {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 8px;
    right: 8px;
    border-radius: 15px;
    background-color: #1E1E1E;
}

.pixel3-xl .border .band .top-block .camera::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 3px;
    left: 3px;
    border-radius: 15px;
    background-color: #3C1C42;
}

.pixel3-xl .border .band .top-block .camera::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    top: 5px;
    left: 5px;
    z-index: 1;
    border-radius: 15px;
    background-color: #674796;
}

.pixel3-xl .border .band .bottom-speaker{
    position: absolute;
    height: 5px;
    width: 100px;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #AAA;
}

.pixel3-xl .border .band .glass .screen {
    position: relative;
    height: 554px;
    width: 274px;
    border-radius: 23px;    
    overflow: hidden;
}